[data-theme='darkMode'] {
    --primary: #121420;
    --header-background: #121420;
    --header-color: #ffffff;
    --body-background: #1b2432;
    --body-color: #ffffff;
    --form-background: #403f4c;
    --form-color: #ffffff;
    --border-color: #121420;
    --box-shadow: rgb(12 12 12 / 65%);
}
