:root {
    --primary: #95d9da;
    --header-background: #95d9da;
    --header-color: #fcf7f8;
    --body-background: #f1ffff;
    --body-color: #000000;
    --form-background: #ffffff;
    --form-color: #848484;
    --border-color: #d0d0d0;
    --box-shadow: rgb(110 117 117 / 65%);
}
