.header {
    background-color: var(--header-background);
    color: var(--header-color);
    padding: $gutter 3.5%;
    @include box-shadow;

    @include respond(mobile) {
        padding: $gutter 0;
    }

    .header-change-theme {
        user-select: none;
        @include transition;

        &:hover {
            opacity: 0.8;
            cursor: pointer;
        }
    }

    h1 {
        @include respond(tablet) {
            font-size: 18px;
        }
    }

    h4 {
        @include respond(tablet) {
            font-size: 16px;
        }
    }
}
