.total-books-counter {
    padding: 15px 0;
}
.book-list-item {
    .book-list-item-cover--picture {
        width: 180px;
        
        img{
            object-fit: fill;
            width: 130px;
            height: 180px;
        }
    }

    figcaption {
        h6 {
            margin: 0;
        }
        p {
            font-size: 12px;
        }
        text-align: left;
        padding: 10px 0;
    }
}

.book-like-btn {
    background-color: transparent;
    border: 0px;
}

ul.paginate-links {
    list-style: none;
    margin-top: -40px;
    margin-bottom: 70px;
    li {
        display: inline-block;
        a {
            font-size: 19px;
            font-weight: lighter;
            cursor: pointer;
        }

    }
    li.right-arrow, li.left-arrow {
        a {
            cursor: pointer;
            font-size: 25px;
            margin: 0 5px;
        }
    }
    li.active{
        a {
            font-weight: bold;
            margin: 6px;
            cursor: pointer;
        }
    }
}


.book-details {
    padding: 15px 0;
    .book-details-item {
        p{
            font-weight: lighter;
            color: black;
            text-align: left;
        }
        img {
            float: right;
            width: 280px;
            margin: -177px 0px auto 20px;   
        }
    
        .book-details-item-title {
            text-align: left;
            display: block;
            width: 471px;
            font-weight: 400;
            font-size: 2rem;
            color:black;
        }
    }
}

.dark-mode {
    .book-like-btn-icon {
        color: white;
    }
    .book-details {
       .book-details-item {
        p{
            color: white;
        }
    
        .book-details-item-title {
            color:white;
        }
    }
    }
}