.total-books-counter {
    padding: 15px 0;
}
.book-list-item {
    .book-list-item-cover--picture {
        width: 180px;
        
        img{
            object-fit: fill;
            width: 130px;
            height: 180px;
        }
    }

    figcaption {
        h6 {
            margin: 0;
        }
        p {
            font-size: 12px;
        }
        text-align: left;
        padding: 10px 0;
    }

    .book-like-btn {
        background-color: transparent;
        border: 0px;
    }
}

.dark-mode {
    .book-like-btn-icon {
        color: white;
    }
}

.pagination {
    padding: 15px 0;
    li {
        a {
            font-size: 19px;
            font-weight: lighter;
        }
    }
    .page-item {
        margin: 0px 5px;

    }
    .page-item.active {
        a {
            font-weight: bold;
        }
    }
}

.book-details {
    padding: 15px 0;
    .book-details-item {
        p{
            font-weight: lighter;
            color: black;
            text-align: left;
        }
        img {
            float: right;
            width: 250px;
            margin: -64px 0px auto 20px;
        }
    
        .book-details-item-title {
            display: block;
            max-width: 295px;
            font-weight: 400;
            font-size: 2rem;
            color:black;
        }
    }
}