@import "tailwindcss";

:root {
  --card-bg: hsl(0, 0%, 0%);
  --card-bg-hover: hsl(0, 0%, 11%);
  --action: hsl(113 98% 75%);
  --white: hsl(0, 0%, 100%);
  --gray: hsl(0, 0%, 63%);
  --purple: hsl(246, 50%, 47%);
}

@theme inline {
  --color-black: var(--card-bg);
  --color-black-hover: var(--card-bg-hover);
  --color-action: var(--action);
  --color-white: var(--white);
  --color-gray: var(--gray);
  --color-purple: var(--purple);
  --font-anton: var(--font-anton);
}
