.page-book-detail {
    margin-top: 20px;
    padding: 0 3.5%;

    @include respond(mobile) {
        padding: 0;
    }

    .back {
        margin-bottom: 20px;
        font-size: 18px;
        color: var(--form-color);

        &:hover {
            cursor: pointer;
            color: var(--primary);
        }
    }
}
