.Status {
    padding: var(--large-space);
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.Status__img {
    width: 100%;
    max-width: 450px;
    height: auto;
}