$primary: #95d9da;
$body-bg: #f1ffff;
$body-color: #000000;
$like-color: #e60000;
$input-color: #7c7c7c;
$header-color: #fcf7f8;
$border-color: #d0d0d0;
$header-background: $primary;
$form-color: #848484;
$form-background: #ffffff;

$font-family-base: 'Rubik', sans-serif;
$font-size-base: 14px;
$font-weight-base: 400;

$font-size-h1: 36px;
$font-weight-h1: 400;
$font-size-h4: 24px;
$font-weight-h4: 400;

$border-width: 1px;

$gutter: 20px;
