.book-list-item {
    margin-bottom: 36px;
    user-select: none;

    .book-list-item-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
    }

    .book-list-item-image {
        max-width: 135px;
        margin: 0 auto 20px auto;

        img {
            width: 135px;
            height: 175px;
        }
    }

    .book-list-item-name {
        font-weight: 500;
        font-size: 18px;
        line-height: 18px;
        margin-bottom: 3px;
    }

    .book-list-item-author,
    .book-list-item-category {
        line-height: 1;
    }

    &:hover {
        cursor: pointer;
    }

    .book-list-item-like {
        font-size: 25px;
        margin-left: 10px;
    }

    .bi-heart-fill {
        color: $like-color;
    }
}
