@media only screen and (max-device-width: 500px) {
	#header {
		padding: 3% 3% 1% 5%;
		display: inline-flex;
		background: #95d9da;
		color: #eee;
		width: 100%;
		font-size: 80%;
	}
	#header h2 {
		font-size: 150%;
	}
	#theme-btn {
		right: 5%; 
		position: absolute; 
		padding-top: 5px;
	}
}

.float-heart {
	position: absolute; 
	bottom: 0; 
	z-index: 2;
	margin-left: -25px;
	margin-bottom: 12px;
	color: #000;
}